# Copy ke .env.local untuk development lokal
# Di Vercel: Settings > Environment Variables

NEXT_PUBLIC_SUPABASE_URL=https://klldpybmikxbtnopskyo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtsbGRweWJtaWt4YnRub3Bza3lvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU1Nzc5ODcsImV4cCI6MjEwMTE1Mzk4N30.-tD-4EjMiyEbSbry5sRqIYIutafyJmYoEYXB7CwKTf4
